@tailwind base;
@tailwind components;
@tailwind utilities;

.page__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.75rem;
    overflow-y: auto;

    .button__container {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.2rem;
    }

    .details__container {
        flex-grow: 1;
        display: grid;
        column-gap: 1.75rem;
        row-gap: 1.75rem;
        min-width: 1200px; /* So that the screen doesn't shrink too much */
        overflow-x: auto;

        .details__card {
            background-color: var(--white);
            border-width: 1px;
            border-radius: 8px;
            border-color: var(--gray-100);
            padding: 28px;
        }

    }

    .metrics__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-bottom: 2rem;
        font-family: var(--font-roboto-mono);

        .metrics__divider {
            height: 1px;
            background-color: var(--gray-100);
        }

        .metrics__item--blue {
            color: var(--blue-500);
        }

        .metrics__item--black {
            color: var(--black);
        }

        .metrics__grid {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding-right: 1.5rem;

            .metrics__grid--left {
                display: flex;
                text-align: left;
                height: 100%;
                justify-content: flex-end;
                padding-right: 3rem
            }

            .metrics__grid--right {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                column-gap: 6px;
            }
        }

        .metrics__text--h1 {
            font-size: 48px;
            font-weight: 500;
            line-height: normal;
        }

        .metrics__text--h2 {
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
        }

        .metrics__text--h3 {
            display: flex;
            flex-direction: column;
            font-size: 16px;
            font-weight: 500;
            text-align: right;
            line-height: 16px;
        }

        .metrics__text--tight {
            letter-spacing: -1px;
        }

        .metrics__text--tighter {
            letter-spacing: -4px;
        }
    }

    & ul {
        list-style-type: disc;
        margin-left: 0.6rem;
        list-style-position: inside;

        & li {
            & span {
                font-weight: 600;
                margin-right: 0.5rem;
            }
        }
    }
}
